
        .row.justify-content-center
            div.col-md-6
                div.card-body
                    block content
    footer.row.justify-content-center
         div.col-md-6
            footer
  
